<h1>The lowdown on <%= @band.name() %></h1>

<h3>Name: <%= @band.name() %></h3>

<h3>Venues they've played at:</h3>

<% if @band.venues().any? %>
  <ul>
    <% @band.venues().each() do |venue_id| %>
      <%= Venue.find(venue_id).name() %>
    <% end %>
  </ul>
<% else %>
  <h4>No venues have been entered yet.</h4>
<% end %>

<form action="/">
  <button type="submit" class="btn btn-primary">Back to Band Land</button>
</form>
