<h1>Welcome to Band Land!</h1>

<h3>Here are the bands in your land:</h3>

<% if @bands.any?() %>
  <ul>
    <% @bands.each() do |band| %>
      <li>
        <%= band.name() %>
        <a href="/bands/<%= band.id() %>">View</a> |
        <a href="/edit/<%= band.id() %>">Edit</a> |
        <a href="/delete/<%= band.id() %>">Delete</a>
      </li>
    <% end %>
  </ul>
  <form action="/bands">
    <button type="submit" class="btn btn-primary">Add another band to your land!</button>
  </form>
<% else %>
  <h4>Oops, there are no bands in your land right now.</h4>
  <form action="/bands">
    <button type="submit" class="btn btn-primary">Add a band to your land!</button>
  </form>
<% end %>
