<h1>Welcome to Band Land!</h1>

<h3>Here are the bands in your land:</h3>

<% if @bands.any?() %>
  <ul>
    <% @bands.each() do |band| %>
      <li>
        <%= band.name() %>
        <a href="/bands/<%= band.id() %>">View</a> |
        <a href="/edit/<%= band.id() %>">Edit</a> |
        <a href="/delete/<%= band.id() %>">Delete</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>Oops, there are no bands in your land right now.</h4>
<% end %>

<h4>Add a band to your land:</h4>

<form action="/bands">
  <button type="submit" class="btn">Add a band to Band Land!</button>
</form>
