<h1>Welcome to Band Land!</h1>

<h3>Here are the bands in your land:</h3>

<% if @bands.any?() %>
  <ul>
    <% @bands.each() do |band| %>
      <li>
        <h4><%= band.name() %></h4>
        <div class="button-container">
          <a href="/bands/<%= band.id() %>" class="btn btn-xs btn-success">View</a> |
          <a href="/edit/<%= band.id() %>" class="btn btn-xs btn-warning">Edit</a> |
          <form action="/delete/<%= band.id() %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </div>
      </li>
    <% end %>
  </ul>
  <form action="/bands">
    <button type="submit" class="btn btn-primary">Add another band to your land!</button>
  </form>
<% else %>
  <h4>Oops, there are no bands in your land right now.</h4>
  <form action="/bands">
    <button type="submit" class="btn btn-primary">Add a band to your land!</button>
  </form>
<% end %>
