body {
  background-image: url("/../images/concert.jpg");
}

.container {
  background-color: white;
  opacity: 0.7;
  margin-top: 10px;
  padding-bottom: 10px;
}

.btn {
  margin: 5px;
}

.button-container form,
.button-container form div {
  display: inline;
}

.button-container button {
  display: inline;
  vertical-align: middle;
}
